@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Student Management System</h1>
    <p>Click the button below to manage your students database.</p>
    <a class="btn btn-primary btn-lg" href="/Student">Go to Student List</a>
</div>